/*
 Global styles for FoundationPressNG
 Demo: https://FoundationPressNG.phantomoon.com/
*/
body {
  @include font-family(sans-serif);

  overflow-x: hidden;
  color: #333;
}
p {
  font-size: $h5-font-size;
}

/* コンテンツ */
.mymain {
  // some setteings
}
.post-categories {
  @include menu-base;

  margin-left: 20px;
  list-style-type: none;
  & a {
    padding: 6px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: rem-calc(14);
    color: $white;
    background-color: lighten(get-color(primary), 10%);
    border-radius: 10px;
  }
}
.clr {
  clear: both;
}

$imgh: 56vh;
.home,
.archive {
  article {
    &:first-of-type {
      // 最初の記事だけ大きくする場合
      @include breakpoint(medium up) {
        @include xy-cell($gutters: 0);
        & h2 {
          font-size: $h2-font-size;
        }
        & img {
          height: $imgh;
          object-fit: cover;
        }
      }
      @include breakpoint(large up) {
        img {
          height: 31vh;
          object-fit: cover;
        }
      }
    }
    &:not(:first-of-type) {
      @include breakpoint(medium up) {
        @include xy-gutters(medium, margin, right left, false);
      }
    }
    @include all-but(1) {
      @include breakpoint(medium up) {
        @include xy-cell(50%, null, 5px, margin, null, null, false);
      }
      img {
        height: calc(#{$imgh / 2});
        object-fit: cover;
      }
    }
  }
  h2 {
    font-size: $h5-font-size;
  }
}
.archive {
  h1 {
    font-size: $h3-font-size;
    font-weight: normal;
    color: #1b5e92;
    @include breakpoint(medium) {
      font-size: $h1-font-size;
    }
  }
}
.category h1::before {
  margin-right: 10px;
  font-family: 'Font Awesome 5 Free', monospace;
  font-weight: bold;
  content: '\f0c6';
  opacity: 0.8;
}
.date h1::before {
  margin-right: 10px;
  font-family: 'Font Awesome 5 Free', monospace;
  font-weight: bold;
  content: '\f186';
  opacity: 0.8;
}
.alignleft {
  float: left;
  margin: 0 2em 2em 0;
}
.alignright {
  float: right;
  margin: 0 0 2em 2em;
}
.aligncenter {
  display: block;
  margin: 2em auto;
  clear: both;
}
// .myblocks {
//   display: grid;
//   grid-template-columns: inherit;
//   grid-template-columns: subgrid;
//   }
//   .myblocks > * {
//     grid-column: 3 / -3;
//     min-width: 0;
//   }

// .myblocks {
//   display: grid;
//   grid-template-columns: inherit;
//   grid-template-columns: subgrid;
//   }
.myblocks > * {
  min-width: 0;
}
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter,
.wp-block-archives.aligncenter,
.wp-block-tag-cloud.aligncenter,
.wp-block-latest-comments.aligncenter,
.wp-block-rss.aligncenter {
  text-align: center;
}
.myblocks {
  box-sizing: border-box;
}
.myblocks *,
.myblocks *::before,
.myblocks *::after {
  box-sizing: inherit;
}

/* 幅広・全幅 */
.page-template .alignwide {
  // 固定OK
  width: 100vw;
  margin: 0 calc(50% - 50vw) 2rem;
  @include breakpoint(tablet) {
    width: calc(100% + 20vw);
    margin: 0 10vw 2rem;
  }
}
.page-template .wp-block-media-text.alignwide {
  //  "core/media-text" OK
  @include xy-cell($gutters: 50vw);
  @include breakpoint(tablet) {
    @include xy-cell($gutters: 250vw);
  }
}
.page-template .wp-block-gallery.alignwide {
  //  "core/gallery" OK
  width: 100vw;
  margin: 0 calc(50% - 50vw) 2rem;
  @include breakpoint(tablet) {
    width: calc(100% + 20vw);
    margin: 0 10vw 2rem -10vw;
  }
}
.post-template .alignwide {
  // 投稿OK
  width: calc(100% + 20vw);
  margin-left: -10vw;
}
.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin: 0 calc(50% - 50vw);
}

/* group block */
.wp-block-group .wp-block {
  max-width: 100%;
}
