/*!
 * Gutenberg Editor Styles
 */

/**
 * Big thanks to EBISUCOM (https://github.com/ebisucom/wordpress-note-lp) for the creative ideas
 */

/** === Includes === */


@charset 'utf-8';

@import 'settings';
@import 'override';
@import 'foundation';
@import 'components/mixins/font-family';
@import 'global/variables';
@import 'components/mixins/push-center';

@include foundation-typography;
@include foundation-button;
@include foundation-table;

.is-root-container {
  @include xy-grid-container;
}
/** === Content Width === */
// .wp-block {
// 	$width: "100% - (2 * 10px)";
// 	@each $breakpoint, $size in $grid-margin-gutters {

// 		@include breakpoint($breakpoint) {
// 			max-width: calc(#{$width} - #{$size}) ;
// 		}

// 	}
// }
.wp-block .wp-block[data-type="core/group"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
.wp-block .wp-block[data-type="core/cover"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]) {
	margin-left: auto;
	margin-right: auto;
	max-width: 614px;
}

*[data-align="right"] .wp-block-edit,
*[data-align="left"] .wp-block-edit {
	max-width: 50%;
}

/** === Base Typography === */
body {
  @include font-family(sans-serif);
  font-size: $global-font-size;
  color: $body-font-color;
}
body > * {
  @include push-center;
}
.block-editor-block-list__block[data-type="core/paragraph"] p {
  line-height: 2;
}
/** === Post Title === */
.editor-post-title__input {
  font-family: inherit;
  @extend h1;
}
//** === Button === */
.wp-block-button {
  // add general foundation button styling to button in editor
  .wp-block-button__link {
    @extend .button;
  }

  // add special styling for squared buttons
  &.is-style-squared .wp-block-button__link {
    border-radius: 0;
  }

  // add outline styles
  &.is-style-outline .wp-block-button__link {
    @extend .hollow;
  }

.wp-block {
  max-width: 614px;
}
.wp-block[data-align="wide"] {
  max-width: 819px;
}
.wp-block[data-align="full"] {
  max-width: none;
}
@media (max-width: 599px) {
  .wp-block {
    max-width: 94.7%;
  }
}
  // set transparent background to block for outline button
  &.is-style-outline,
  &.is-style-outline:hover,
  &.is-style-outline:focus,
  &.is-style-outline:active {
    background: transparent;
  }
}

/** === File === */
.wp-block-file__button {
  @include button();
}

/** === Pullquote === */
.wp-block-paragraph.has-background {
  padding: rem-calc(20px 30px);
}

/** === Table === */
.wp-block-table td {
  border: none;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid {
  list-style: none;
}

/* group block */
.wp-block-group .wp-block {
  max-width: 100%;
}

/* 色設定 */
@each $color, $code in $foundation-palette {
  .has-#{$color}-background-color {
    background-color: $code;
  }

  .has-#{$color}-color {
    color: $code;
  }
}
