/*!
 * Gutenberg Editor Styles
 */

/**
 * Big thanks to EBISUCOM (https://github.com/ebisucom/wordpress-note-lp) for the creative ideas
 */

/** === Includes === */


@charset 'utf-8';

@import 'settings';
@import 'override';
@import 'foundation';
@import 'components/mixins/font-family';
@import 'global/variables';
@import 'components/mixins/push-center';

@include foundation-typography;
@include foundation-button;
@include foundation-table;

.is-root-container {
  @include xy-grid-container;
}
/** === Content Width === */
// .wp-block[data-type="core/group"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
// .wp-block[data-type="core/paragraph"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]),
// .wp-block[data-type="core/cover"]:not([data-align="full"]):not([data-align="wide"]):not([data-align="left"]):not([data-align="right"]){
  .wp-block {
    $width: "100% - (2 * 10px)"; // 1120px
    @each $breakpoint, $size in $grid-margin-gutters {

      @include breakpoint($breakpoint) {
        max-width: calc(#{$width} - #{$size});
      }

    }
  }
  .wp-block[data-align="wide"]  { //投稿OK
    $width: "100vw"; // 1130px
    @each $breakpoint, $size in $grid-margin-gutters {

      @include breakpoint($breakpoint) {
        max-width: calc(#{$width} - #{$size});
      }

    }
  }
//   .wp-block[data-align="wide"] { // "core/media-text" OK
//     .wp-block-media-text {
//     width: 100vw;
//     margin: 0 calc(50% - 50vw);
//     @include breakpoint(medium) {
//       width: calc(100% + 20vw);
//       margin: 0 -10vw;
//     }
//   }
// }
// .wp-block[data-align="wide"] { // "ugb/blog-posts"
//   [data-type="ugb/blog-posts"] {
//   width: 100vw;
//   margin: 0 calc(50% - 50vw);
//     @include breakpoint(medium) {
//       width: calc(100% + 20vw);
//       margin: 0 -20vw;
//     }
//   }
// }

  .wp-block[data-align="full"] {
   [data-type="core/image"],
   [data-type="core/cover"],
   [data-type="core/group"],
   [data-type="core/media-text"],
   [data-type="ugb/blog-posts"]{ //投稿OK
     // display: block;
      margin-left: calc(50% - 50vw); // 247px
      max-width: 100vw;
      width: 100vw;
     }
  }
  .wp-block[data-align="wide"] { // [core/gallery]  OK
  .wp-block-gallery {
      $width: "100vw"; // 1130px
      @each $breakpoint, $size in $grid-margin-gutters {

        @include breakpoint($breakpoint) {
          max-width: calc(#{$width} - #{$size});
        }
      }
  }
}
  .wp-block[data-align="full"] { //  [core/gallery] OK
    .wp-block-gallery  {
      margin-left: calc(50% - 50vw); // 247px
      max-width: 100vw;
      width: 100vw;
   }
  }
  /* group block */
.wp-block-group .wp-block {
  max-width: 100%;
}

*[data-align="right"] .wp-block-edit,
*[data-align="left"] .wp-block-edit {
	max-width: 50%;
}

/** === Base Typography === */
body {
  @include font-family(sans-serif);
  font-size: $global-font-size;
  color: $body-font-color;
  overflow-x: hidden;
}
body > * {
  @include push-center;
}
p.block-editor-block-list__block[data-type="core/paragraph"] {
  line-height: 2;
}
/** === Post Title === */
.editor-post-title__input {
  font-family: inherit;
  @extend h1;
}
//** === Button === */
.wp-block-button {
  // add general foundation button styling to button in editor
  .wp-block-button__link {
    @extend .button;
  }

  // add special styling for squared buttons
  &.is-style-squared .wp-block-button__link {
    border-radius: 0;
  }

  // add outline styles
  &.is-style-outline .wp-block-button__link {
    @extend .hollow;
  }
  // set transparent background to block for outline button
  &.is-style-outline,
  &.is-style-outline:hover,
  &.is-style-outline:focus,
  &.is-style-outline:active {
    background: transparent;
  }
}


/** === File === */
.wp-block-file__button {
  @include button();
}

/** === Pullquote === */
.wp-block-paragraph.has-background {
  padding: rem-calc(20px 30px);
}

/** === Table === */
.wp-block-table td {
  border: none;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid {
  list-style: none;
}

/* 色設定 */
@each $color, $code in $foundation-palette {
  .has-#{$color}-background-color {
    background-color: $code;
  }

  .has-#{$color}-color {
    color: $code;
  }
}
