/* sans-serif */
@import url('https://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 100;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 200;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 300;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 400;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: bold;
  src: local('Yu Gothic Bold');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  src: local('Helvetica Neue Regular');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  src: local('Helvetica Neue Regular');
}

/* monospace */
@font-face {
  font-family: SourceHanCodeJP-Regular;
  src: local('SourceHanCodeJP-Regular');
}

@font-face {
  font-family: 'Myrica M';
  src: local('Myrica M');
}

@font-face {
  font-family: 'MyricaM M';
  src: local('MyricaM M');
}

@font-face {
  font-family: 'Ricty Diminished Discord';
  src: local('Ricty Diminished Discord');
}

@font-face {
  font-family: 'Migu 1M';
  src: local('Migu 1M');
}

@font-face {
  font-family: 'Rounded M+ 1m regular';
  src: local('Rounded M+ 1m regular');
}

@font-face {
  font-family: 'Rounded Mgen+ 1m regular';
  src: local('Rounded Mgen+ 1m regular');
}

@font-face {
  font-family: 'VL ゴシック';
  src: local('VL ゴシック');
}
