.wp-caption > figcaption {
  max-width: 100%;
  padding: 0.25rem 0;
  font-size: 0.8rem;
  color: #999;
}
p.wp-caption-text {
  padding: rem-calc(10) 0;
  font-size: 90%;
  color: #666;
}
.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}
.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.gallery {
  @include xy-grid;
  @include xy-gutters($negative: true);

  @for $i from 1 through 9 {
    &.gallery-columns-#{$i} {
      @include xy-grid-layout(2, '.gallery-item');
    }

    @include breakpoint(medium) {
      &.gallery-columns-#{$i} {
        @include xy-grid-layout(4, '.gallery-item', $gutters: (small: 30px));
      }
    }

    @include breakpoint(large) {
      &.gallery-columns-#{$i} {
        @include xy-grid-layout($i, '.gallery-item', $gutters: (small: 30px));
      }
    }
  }
  .gallery-icon > a {
    @include thumbnail;
    @include thumbnail-link;
  }
  .gallery-icon > img {
    @include thumbnail;
  }
}
