{
  "extends": ["plugin:@wordpress/eslint-plugin/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020
  },

  "globals": {
    "$": true,
    "wp": true,
    "console": true,
    "$uifm": true
  },
  "rules": {
    "camelcase": "off",
    "no-console": "off"
  }
}
