/**
 * Big thanks to Jon Brockett (https://github.com/jonbrockett/FoundationPress) for the creative ideas
 */
#top {
  position: absolute;
  top: 0;
}
#content-top {
  position: absolute;
  top: 100vh;
}
.back-to-top-sticky {
  min-height: rem-calc(84);
}
.back-to-top-grid {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.back-to-top {
  visibility: hidden;
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  a {
    width: rem-calc(52);
    height: rem-calc(52);
    transition: all 0.3s;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 0 rem-calc(10) rgba($black, 0.4);
    color: $secondary-color;
    font-size: rem-calc(22);
    pointer-events: all;
    &:hover {
      background-color: $light-gray;
      color: scale-color($secondary-color, $lightness: -15%);
    }
    .button-tooltip {
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-bottom: 0; // Overrides default tooltip underline
      cursor: inherit; // Overrides default tooltip underline
    }
  }
  &.is-stuck {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  &.is-anchored {
    &.is-at-top {
      visibility: hidden;
      opacity: 0;
    }
    &.is-at-bottom {
      visibility: visible;
      height: 0;
      opacity: 1;
    }
  }
}
.back-to-top-offset-bottom {
  padding-bottom: rem-calc(92);
}
.back-to-top-offset-top {
  padding-top: rem-calc(92);
}
