// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
  margin: 0;
  list-style: none outside none;
}

// Hide Gravity Forms validation fields when GFCSS is disabled
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
  position: absolute !important;
  left: -9000px;
  display: none !important;
}
