$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Avenir , "Noto Sans JP" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "YuGothic" , "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3"  , "メイリオ" , Meiryo , "MS PGothic" , "ＭＳ Ｐゴシック" , "M+ 1p", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Noto Serif JP" , Garamond , "Times New Roman", "Yu Mincho" , "游明朝"  , "YuMincho" ,"游明朝体" , "Hiragino Mincho Pro" , "ヒラギノ明朝 Pro W3" ,  "HiraMinProN-W3", "Roboto Slab" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
$font-family-monospace: "SourceHanCodeJP-Regular", "Myrica M", "MyricaM M", "Ricty Diminished Discord", "Migu 1M", "Rounded M+ 1m regular", "Rounded Mgen+ 1m regular", "M+ 1m", "VL ゴシック", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// 明朝体
$font-family-ryumin_1: "Ryumin Medium KL", "リュウミン M-KL" , serif;
$font-family-ryumin_2: "Ryumin Regular KL", "リュウミン R-KL" , serif;
$font-family-min_1: "Midashi Min MA31", "見出ミンMA31" , serif;
$font-family-min_2: "A1 Mincho", "A1明朝", serif;

// ゴシック体
$font-family-sans-serif_1: "Shin Go Regular", "新ゴ R", sans-serif;
$font-family-sans-serif_2: "Shin Go Medium", "新ゴ M", sans-serif;
$font-family-sans-serif_3: "Gothic MB101 Bold", "ゴシックMB101 B", sans-serif;
$font-family-sans-serif_4: "Midashi Go MB31", "見出ゴMB31",  sans-serif;
$font-family-sans-serif_5: "NOW-GM", "ナウ-GM", sans-serif;
$font-family-sans-serif_6: "M PLUS Rounded 1c", sans-serif;

// 丸ゴシック体
$font-family-sans-serif_m1: "Jun 201", "じゅん 201", sans-serif;
$font-family-sans-serif_m2: "Jun 501", "じゅん 501", sans-serif;
$font-family-sans-serif_m3: "Shin Maru Go Regular", "新丸ゴ R", sans-serif;
$font-family-sans-serif_m4: "Kosugi Maru", sans-serif;

// デザイン書体
$font-family-design_1: "Folk Regular", "フォーク R", sans-serif;
$font-family-design_2: "Folk Medium", "フォーク M", sans-serif;
$font-family-design_3: "Maru Folk Regular", "丸フォーク R", sans-serif;
$font-family-design_4: "Maru Folk Medium", "丸フォーク M", sans-serif;
$font-family-design_5: "Kakumin Regular", "カクミン R", sans-serif;
$font-family-design_6: "Kaimin Sora Bold", "解ミン 宙 B", sans-serif;
$font-family-design_7: "Cinema Letter", "シネマレター", sans-serif;
$font-family-design_8: "Talking", "トーキング", sans-serif;
$font-family-design_9: "Haruhi Gakuen", "はるひ学園", sans-serif;
$font-family-design_10: "Suzumushi", "すずむし", sans-serif;
$font-family-design_11: "GSanSerif-B", "G2サンセリフ-B", sans-serif;

// 装飾体
$font-family-fantasy: "Shin Maru Go Futoline", "新丸ゴ 太ライン", fantasy;

// 筆書体
$font-family-cursive_1: "Sei Kaisho CB1", "正楷書CB1",  cursive;
$font-family-cursive_2: "Reisho 101", "隷書101",  cursive;

// UD書体
$font-family-ud_1: "UD Shin Go Regular", "UD新ゴ R", sans-serif;
$font-family-ud_2: "UD Shin Go Medium", "UD新ゴ M", sans-serif;
$font-family-ud_3: "UD Shin Go Conde90 L", "UD新ゴ コンデンス90 L", sans-serif;
$font-family-ud_4: "UD Shin Go Conde90 M", "UD新ゴ コンデンス90 M", sans-serif;
