// Page header
.front-hero {
  .marketing {
    @include xy-grid-container(55rem);
    @include xy-grid;
  }

  @include breakpoint(small) {
    position: relative;
    height: auto;
    padding: rem-calc(65%) 0;
    margin: 0 0 rem-calc(32);
    text-align: left;
    background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
    background-position: bottom;
    background-size: cover;
  }

  @include breakpoint(medium) {
    height: rem-calc(685);
    margin: 0 0 rem-calc(72);
    background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
    background-position: center;
    background-size: cover;
  }
  .watch {
    @include breakpoint(small) {
      @include xy-cell(7);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
    }
    a {
      margin-right: rem-calc(20);
      font-weight: 400;
      color: #b4c9d1;
      cursor: pointer;
    }
    a:hover {
      color: #fff;
    }
    #stargazers {
      ::before {
        margin-right: rem-calc(8);
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #b4c9d1;
        text-decoration: inherit;
        content: '\f09b';
      }
    }
    #twitter {
      ::before {
        margin-right: rem-calc(8);
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #b4c9d1;
        text-decoration: inherit;
        content: '\f099';
      }
    }
  }
  .tagline {
    @include breakpoint(small) {
      @include xy-cell(8);
    }

    @include breakpoint(medium) {
      @include xy-cell(5);

      padding-top: 6rem;
    }
  }
  h1 {
    font-weight: 500;
    color: #fff;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }
  h4 {
    font-size: 1.3125rem;
    font-weight: 300;
    color: #fefefe;
  }
  .download {
    margin-top: rem-calc(20);
  }
}

// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;
  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);
      @include xy-cell-offset(1);
      h2 {
        margin-bottom: 1.5rem;
        font-weight: 300;
      }
      h4 {
        margin-bottom: 2rem;
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
      }
    }
  }
}

// Section divider
.section-divider {
  @include xy-grid-container;
  @include xy-grid;
  hr {
    @include xy-cell(12);
    @extend .dotted;

    box-sizing: border-box;
  }
}

// Benefits
.benefits {
  @include xy-grid-container;
  @include xy-grid;

  text-align: center;
  header {
    @include xy-cell(12);
    h2 {
      font-weight: 300;
    }
    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }
  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(3);
    }
    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }
    h3 {
      font-size: 1.75rem;
      font-weight: 300;
      color: #0a0a0a;
    }
    p {
      font-size: 0.9375rem;
    }
  }
  .why-foundation {
    @include xy-cell(12);

    margin-top: 4rem;
  }
}
