/*
Frontend styles for gutenberg blocks
*/
/**
 * Big thanks to EBISUCOM (https://github.com/ebisucom/wordpress-note-lp) for the creative ideas
 */

@charset 'UTF-8';

@import '../settings';
@import '../override';
@import 'foundation';

@include foundation-everything(true);

article.wp-block-ugb-blog-posts.is-style-lpposts {
  margin-bottom: 0;
  @include xy-grid-container(full,0);
}
/** === Base Color Palatte === */
@each $color, $code in $foundation-palette {
  .has-#{$color}-background-color {
    background-color: $code;
  }

  .has-#{$color}-color {
    color: $code;
  }
}
/** === Button === */
.wp-block-button {
  // add general foundation button styling
  .wp-block-button__link {
    @extend .button;
    @each $color, $code in $foundation-palette {
      &.has-#{$color}-background-color {
        background-color: $code;
      }

      &.has-#{$color}-color {
        color: $code;
      }
    }
  }

  // add special styling for squared buttons
  &.is-style-squared .wp-block-button__link {
    border-radius: 0;
  }

  // add outline styles
  &.is-style-outline .wp-block-button__link {
    @extend .hollow;
  }

  // set transparent background to block for outline button
  &.is-style-outline,
  &.is-style-outline:hover,
  &.is-style-outline:focus,
  &.is-style-outline:active {
    // background: transparent;
    .wp-block-button__link {
      // background: transparent;
    }
  }
}

/** === File === */
.wp-block-file .wp-block-file__button{
  @include button();
}

/** === Misc === */
// for gutenberg
.figure {
  margin-right: 0;
  margin-left: 0;
}

article figure:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  // eg. for WordPress block
  width: 100%;
}

.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter,
.wp-block-archives.aligncenter,
.wp-block-tag.cloud.aligncenter,
.wp-block-latest-comments.aligncenter,
.wp-block-rss.aligncenter {
  text-align: center;
}
