.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  @include flex-align(center);

  padding-top: 1rem;
  padding-bottom: 1rem;

  @include breakpoint(medium) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &.sidebar-left {

    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content {
        order: 1;
      }
      .sidebar {
        order: 2;
      }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content {
        order: 2;
      }
      .sidebar {
        order: 1;
      }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
    @include breakpoint(large) {
      @include xy-cell(10);
    }
  }
  .main-content-full-width +  .myside {
    @include xy-cell(12);
    @include breakpoint(large) {
      @include xy-cell(10);
    }
//   @include breakpoint(small) {
//     @include xy-grid-container(100vw,2.5vw);
//   }
//   @include breakpoint(large) {
//     @include xy-grid-container(100vw,10vw);
// }
  }

  // // Full(wide) width template
  // .main-content-full-width.alignwide {
  //   @include xy-cell-size(100%, 10vw, margin, auto, false);
  // }
  // // Full(just full) width template
  // .main-content-full-width.alignfull {
  //   @include xy-cell-size(100%, 0, none, null, false);
  // }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }
  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);

      padding-top: 1rem;
    }
  }
}
