.footer-container {
  // @include xy-grid-container;
  background-image: url(../images/bg_footer2.gif);
  background-repeat: repeat-x;
  padding: 50px 0 0;
  background-color: $dark-nav-color;
  color: #fafafa;
  margin-top: rem-calc(10);

  .footer-grid {
    @include xy-grid-container;
    // @include xy-grid;
    padding: rem-calc(30) 0;
    // @include horizontal-center;

    @include breakpoint(small only) {
      //     @include horizontal-center;
      @include xy-grid;
      padding: auto;
      background-color: $dark-nav-color;
      color: #fafafa;
    }

    /*     @include breakpoint(medium) {
      @include xy-cell(full, true, 200, margin, right left, null, false);
    }

    @include breakpoint(tablet) {
      @include xy-cell(full, true, 300, margin, right left, null, false);
    }

    @include breakpoint(large) {
      @include xy-cell(full, true, 500, margin, right left, null, false);
    }
 */
    section {
      @include xy-cell();
      position: relative;

      @include breakpoint(large) {
        @include xy-cell(auto);
      }

      ul#menu-privacy_nav {
        @include push-center;
        list-style-type: none;

      }

      // h2 {
      ul.menu>li.menu-item-has-children {
        margin: 0 9rem 0 0;
        font-weight: bold;
        // background: url(../images/footer_arrow.png) no-repeat top left;
        padding-left: 1.5em;
        border: none;
        font-size: 1.1rem;
        background-color: inherit;
        color: $white;

        @include breakpoint(large) {
          &:first-child {
            margin-left: 100px;
          }
        }

        @include breakpoint(tablet) {
          &:last-child {
            margin-right: 0;
          }
        }

        @include breakpoint(tablet) {
          margin: 0 4rem 0 0;
        }

        @include breakpoint(large) {
          margin: 0 9rem 0 0;
        }


        @include breakpoint(small only) {
          width: 100%;
        }


        &>a {
          background: url(../images/footer_arrow.png) no-repeat left center;
          color: $white;
          text-align: left;
        }

        @include breakpoint(small only) {
          // border-left: 10px solid;
          margin: 0 0 2rem 1rem;
          font-size: 1.1rem;
          padding-left: 0.5rem;
          color: rgba(255, 255, 255, 0.5);
          background: none;

          & a {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      // ul.footer_menu {
      ul.sub-menu {
        margin: 0;
        padding: 0;

        li {
          // background: url(../images/arrow_02.png) no-repeat 5px center;
          font-size: 0.9rem;
          list-style: none;
          margin: 0;
          padding: 0 0 0 1em;
          vertical-align: bottom;

          & a {
            background: url(../images/arrow_02.png) no-repeat 5px center;
            color: $white;
            text-align: left;
          }
        }
      }

      @include breakpoint(small only) {

        // ul.footer_menu {
        ul.sub-menu {
          list-style: none;
          margin: 0 1rem 0 0;
          padding: 0;
          border: 1px solid #98adb7;
          border-radius: 10px;
          background: #e7e7e7;
          // width: 100% !important;

          li {
            background: none;
            width: 100% !important;

            >a {
              @include linkIcon(#383f9a);
              border-color: #ccc;
              border-width: 0 0 1px;
              border-style: dotted;
              display: block;
              padding: 10px;
              text-decoration: none;
              background: none;
              font-size: 1rem;
              font-weight: bold;

              color: $jet !important;
              border-bottom: 1px solid #98adb7;

              &:hover {
                color: lighten($jet, 10%);
                background-color: $green;
              }
            }

            &:hover {
              background-color: $green;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    #copyright {
      margin-top: 10px;
      @include pm-line-top; // border-top: 1px solid #dfdfdf;
      font-size: 1.1rem;
      padding-top: 7px;
      width: 100%;

      @include breakpoint(small down) {
        text-align: center;
      }
    }

    /*     @include breakpoint(medium) {
      section#nav_menu-3 ul.menu {
        margin-top: -3rem;
      }
    }
 */
    footer i.fa {
      margin-right: 10px;
    }
  }
}
