.footer-container {
  @include xy-grid-container;

  margin-top: rem-calc(60);
  border-top: 1px solid $medium-gray;
}
.footer-grid {
  @include xy-grid;

  padding: rem-calc(30) 0;
  section {
    @include xy-cell();

    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
