// Component navigation menu seen on every page.

aside:not(.myaside) {
  @include xy-grid(vertical, true);
  section {
    border: solid 1px #dddddd;
    padding: 15px;
    box-shadow: 0 3px 5px #dddddd;
    h2 {
      font-size: $h4-font-size;
      font-weight: normal;
      color: #1b5e92;
      text-align: center;
      border-bottom: solid 1px #dddddd;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
    ul {
      margin-left: 20px;
      padding: 0;
      font-size: $h6-font-size;
      list-style-type: none;
      li {
      @include xy-gutters(15px, padding,top , false);
      }
    }
  }
}
.myaside {
  @include breakpoint(small) {
    padding: 60px 2.5vw;
  }
  @include breakpoint(tablet) {
  @include xy-grid;
  @include xy-grid-layout(3, 'section');
  padding: 60px 10vw;
  }
  background-color: #1b5e92;
  margin-bottom: -150px;
  section {
    // border: solid 1px #dddddd;
    padding: 15px;
    // box-shadow: 0 3px 5px #dddddd;
    h2 {
      font-size: $h4-font-size;
      font-weight: normal;
      color: $white;
      text-align: center;
      border-bottom: solid 2px #dddddd;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
    a {
      color: $white;
}
    }
    ul {
      // margin-left: 20px;
      padding: 0;
      font-size: $h6-font-size;
      list-style-type: none;
      li {
      @include xy-gutters(15px, padding,top , false);
      }
      @include breakpoint(medium down) {
        li {
          width: 100% !important;
          background: none;
          > a {
          @include linkIcon($white);

        display: block;
        padding: 10px;
        font-size: 1rem;
        // font-weight: bold;
        text-decoration: none;
        background: none;
        border-color: #ccc;
        border-style: dotted;
        border-width: 0 0 1px;
        border-bottom: 1px solid #98adb7;
        &:hover {
          color: lighten($white, 10%);
          background-color: lighten(#1b5e92, 10%);
        }
      }
    }
  }
  }
}
